
<%- include('parts/header.ejs')%>
<body>
    <%- include('parts/navbar.ejs')%>
<div class="container">

<br>
<p class="alert alert-danger">
    You Are Not Admin
</p>



</div>
</body>
<%- include('parts/footer.ejs')%>